@font-face {
  font-family: 'Itim';
  font-style: normal;
  font-weight: 400;
  src: url(../font/Itim-Regular.ttf) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A
}
* {
  margin: 0;
  padding: 0;
  font-family: Itim;
  transition: all 0.5s;
}
body {
  background-color: #F1F2F6;
}
/* NAV */
.barra-fixa {
  top: 0;
  position: fixed;
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  justify-items: center;
  z-index: 100;
  gap: 10px;
  background-color: #DADADA;
}

.logo {
  padding: 4px 25px;
  width: 6vw;
  /* height: 93.59px; */
}

.opcoes,
.opcoes-menu {
  list-style: none;
  display: contents;
  text-align: center;
}

nav li {
  color: #001E3C;
  font-size: 1.5rem;
}

span-login,
.button-login,
.login {
  padding: 5px;
  border-radius: 10%;
  color: white;
  background-color: #001E3C;
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  
}

.login:hover {
  background-color: #F1F2F6;
  color: #001E3C;
}

.shadow {
  box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.25);
}

.li-busca {
  width: 80%;
}

.div-busca {
  display: flex;
  border: 1px #001E3C solid;
  border-radius: 20px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.txt-busca {
  border: none;
  background-color: transparent;
  color: #001E3C;
  padding-left: 0.5rem;
  width: 100%;
}

.txt-busca:active {
  border: none
}

.lupa {
  padding-right: 0.2rem;
  cursor: pointer;
  font-size: 1.5rem;
}

.link a,
.opcao a {
  text-decoration: none;
  color: inherit;
}

.sub a:hover,
.opcao .a:hover {
  text-decoration: underline;
}
/*FIM-NAV*/

/*HAMBURGUER*/
.secao-menu {
  background-color: #DADADA;
  display: none;
  position: fixed;
  top: 44px;
  /* right: -1900px; */
  z-index: 1;
  height: 100%;
  bottom: 0px;
  transition: all 1.1s !important;
  width: 60%;
  font-size: 1.4rem;
  border-bottom: 2px solid #001E3C;
  border-top: 2px solid #001E3C;
  box-shadow: inset 0px -2px 10px 5px rgba(0, 30, 60,0.1), inset 0px 2px 10px 5px rgba(0, 30, 60,0.1);
}
.menu-hamburguer{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 100%;
  justify-content: space-evenly;
}
.icone-menu {
  display: none;
}
.span-menu {
  font-size: 2.2rem !important;
}
.opcoes-menu {
  width: 100%;
  height: 100%;
}

.borda-menu {
  padding: 100px 0px;
  border-bottom: 2px solid #001E3C;
  border-top: 2px solid #001E3C;
  width: 100%;
  /* box-shadow: 0px -2px 2px rgba(0, 30, 60,0.4), 0px 2px 2px rgba(0,30,60,0.4); */
}
/*FIM HAMBURGUER*/

/*MAIN*/
main {
  margin-top: 93.59px;
  height: calc(100vh - 93.59px);
  background-image: url(../images/imagem-login.jpg);  
  background-position: center;
  background-size: cover;
}
.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  color: black;
  background-color: rgba(0, 0, 0, 0.5);
  gap: 1.5em;
  font-size: 1.5rem;
}
.form {
  background-color: rgba(255,255,255, 0.5);
  padding: 3% 4%;
  border-radius: 10%;
  margin-left: 30vw;
  display: flex;
  flex-flow: column;
  gap: 15px;
}
.form input {
  font-size: 1.2rem;
}
#id-cadastrar {
  background-color: #001E3C;
  color: white;
  padding: 5px;
  width: 150px;
  border-radius: 50px;
  font-size: 1.5rem;
  border: 2px white solid;
  cursor: pointer;
}

#id-entrar:hover{
  background-color: white;
  color: #001E3C;
  border: 2px #001E3C solid;
  transform: scale(1.2,1.1)
}
.link-login {
  margin-left: 30vw;
  font-size: 1.2rem;
  color: white;
  text-decoration: underline;
}
.botao-cadastrar {
  margin-top: 15px;
  align-self: center;
}
/*FOOTER*/
footer {
  background-color: #001E3C;
  color: white;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  padding: 10vh 0 0;
}
.fim {
  display: grid;
  justify-content: space-around;
  align-items: center;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  padding: 1rem;
  line-height: 2rem;
  gap: 40px;
  font-size: 2rem;
  }
.redes{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 3rem;
  padding: 4px;
}
.ic {
  padding: 2px;
}
.ic:hover {
  cursor: pointer;
  border: 1px solid white;
  border-radius: 10%;
}
.fim2 {
  padding: 1rem 0px;
  line-height: 1.125rem;
  font-weight: 600;
  width: 100%;
  text-align: center;
}

/*RESPONSIVIDADE*/
/*1024*/
@media (max-width: 1024px){
  /*NAV*/
  .logo {
    width: 4rem;
    height: 4rem;
  }
  .barra-fixa{
    gap: 8px;
  }
  nav li {
    font-size: 1.2rem;
  }

  span-login,.button-login,.login {
    padding: 4px;
    font-size: 1rem;
    gap: 6px;
  }
  .lupa{
    font-size: 1rem;
  }
  main {
    margin-top: 76px;
    height: calc(100vh - 76px);
  }
  .fim {
    padding: 1rem;
    line-height: 2rem;
    gap: 40px;
    font-size: 2rem;
  }

  .redes {
    gap: 20px;
  }
}
/*768*/
@media (max-width: 768px) {
  .logo {
    width: 3rem;
    height: 3rem;
  }
  .barra-fixa{
    gap: 6px;
  }
  nav li {
    font-size: 1rem;
  }

  /* span-login,.button-login,.login {
    padding: 4px;
    font-size: 1rem;
    gap: 5px;
  } */

  .lupa{
    font-size: 1rem;
  }
  main {
    margin-top: 60px;
    height: calc(100vh - 60px);
  }

  .fim {
    padding: 1rem;
    line-height: 2rem;
    gap: 40px;
    font-size: 1rem;
    }
  .redes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 2rem;
  }
  .fim2 {
    padding: 1rem 0px;
    font-size: 0.75rem;
  }
}
/*570*/
@media (max-width: 570px) {
  /*NAV*/
  .barra-fixa{
    gap: 3.8px;
  }
  span-login,.button-login,.login {
    padding: 5px;
    gap: 8px;
    font-size: 1.5rem; 
  }
  .lupa{
    font-size: 0.9rem;
  }

  .li-busca {
    grid-column-start: 2;
    grid-column-end: 5;
  }
  nav li {
    font-size: 0.7rem;
  }

  .opcoes .link {
    display: none;
  }

  .login-grid {
    grid-column-start: 5;
  }

  /*MENU*/
  .secao-menu {
    right: -400px;
    display: block;
  }
  .icone-menu{
    display: block;
    cursor: pointer;
  }
  .animar {
    right: 0px;
  }

  /*HEADER*/
  main {
    background-image: url(../images/header-2.jpg);
  }

  .formulario {
    align-items: center;
    font-size: 1rem;
  }
  .form {
    margin: 0;
  }
  .form input {
    font-size: 1rem;
  }
  .link-login {
    margin-left: 0;
    font-size: 0.8rem
  }

  /*FOOTER*/
  .fim {
    padding: 0.5rem;
    line-height: 2rem;
    gap: 30px;
    }
  .redes{
    gap: 15px;
  }
  .fim2 {
    padding: 1rem 0px;
    font-size: 0.6rem;
  }
}
/*425*/  
@media (max-width: 425px) {
  .redes {
      flex-flow: row wrap;
  }
}